In [18]:
!pip install implicit

Collecting implicit
  Downloading implicit-0.5.2-cp39-cp39-macosx_10_9_x86_64.whl (712 kB)
     |████████████████████████████████| 712 kB 1.8 MB/s
Requirement already satisfied: tqdm>=4.27 in /Users/daniilzhilin/opt/anaconda3/lib/python3.9/site-packages (from implicit) (4.62.3)
Requirement already satisfied: scipy>=0.16 in /Users/daniilzhilin/opt/anaconda3/lib/python3.9/site-packages (from implicit) (1.7.1)
Requirement already satisfied: numpy in /Users/daniilzhilin/opt/anaconda3/lib/python3.9/site-packages (from implicit) (1.20.3)
Installing collected packages: implicit
Successfully installed implicit-0.5.2
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/daniilzhilin/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import implicit
import scipy.sparse as sparse
import random
import numpy as np

In [2]:
unames = list(str.split('UserID::Gender::Age::Occupation::Zip-code',"::"))
users = pd.read_table('../data/users.dat', sep='::', header=None, names=unames)

rnames = list(str.split('UserID::MovieID::Rating::Timestamp','::'))
ratings=pd.read_table('../data/ratings.dat',sep='::',header=None, names=rnames)

mnames = list(str.split('MovieID::Title::Genres',"::"))
movies = pd.read_csv('../data/movies.dat',sep='::',encoding='ISO-8859-1',header=None,names=["MovieID", "Title", "Genres"])

/Users/daniilzhilin/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [11]:
ratings

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [6]:
sparse_item_user = sparse.csr_matrix((ratings['Rating'].astype(float), (ratings['MovieID'], ratings['UserID'])))
sparse_user_item = sparse.csr_matrix((ratings['Rating'].astype(float), (ratings['UserID'], ratings['MovieID'])))

In [7]:
# initialize a model
model = implicit.als.AlternatingLeastSquares(factors=50)

# train the model on a sparse matrix of user/item/confidence weights
model.fit(sparse_item_user)

  0%|          | 0/15 [00:00<?, ?it/s]

In [8]:
userid = 100
# recommend items for a user
recommendations = model.recommend(userid, sparse_user_item[userid])

# find related items
# related = model.similar_items(itemid)

In [9]:
recommendations

(array([3618, 4169, 4647, 4277,  524, 3391, 1680, 1448, 3841, 1150],
       dtype=int32),
 array([1.0099826 , 0.95515037, 0.90563214, 0.90375465, 0.8517428 ,
        0.84694177, 0.8371645 , 0.8256681 , 0.8228451 , 0.81562245],
       dtype=float32))